/*-----------------
Fonts
-------------------*/
@font-face {
    font-family: "Vazir";
    src: url(../webfonts/Vazir-Regular.ttf);
}
body{
    font-family: 'Vazir'!important;
}
.home-img{
    background-image: url(../img/back.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.text-crate {
    margin-right: 80px;
}