a{
    text-decoration: none;
}
#print-section .main-wrapper .section-title .icon-holder{
    margin-left: 8px;
}
#print-section .main-wrapper .time{
    right: unset !important;
    left: 0;
}
.profile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.sidebar-wrapper .container-block{
    padding-right: 12px !important;
}